ASPNETCORE_ENVIRONMENT=Development

MSSQL_SA_PASSWORD=Hrms@123456789
RABBITMQ_HOST=localhost
RABBITMQ_PORT=5672
RABBITMQ_USERNAME=guest
RABBITMQ_PASSWORD=guest

HR_CORE_CONNECTION_STRING=Server=localhost,1434;Database=HRMS_HrCoreDb;User Id=sa;Password=Hrms@123456789;TrustServerCertificate=True
ATTENDANCE_CONNECTION_STRING=Server=localhost,1434;Database=HRMS_AttendanceDb;User Id=sa;Password=Hrms@123456789;TrustServerCertificate=True
PAYROLL_REPORT_CONNECTION_STRING=Server=localhost,1434;Database=HRMS_PayrollReportDb;User Id=sa;Password=Hrms@123456789;TrustServerCertificate=True
